.aanmelden{
  background: #f2f2f2;
  padding: 10px;
}

#chauffeur-icon, #passagier-icon{
  /* Firefox */
  -moz-transition: all 0.5s ease;
  /* WebKit */
  -webkit-transition: all 0.5s ease;
  /* Opera */
  -o-transition: all 0.5s ease;
  /* Standard */
  transition: all 0.5s ease;
}

.noselect{
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome and Opera */
}

.title-aanmelden{
  padding: 5px 0 5px 5px;
  margin: 1px;
}

.title-aanmelden:hover{
  margin: 0;
  cursor: pointer;
  border: #c3d0b5 1px solid;
  background: rgba(0,0,0,0.2);
  padding: 5px 0 5px 5px;
	border-radius: 4px;
}

#aanmelden-passagier, #aanmelden-chauffeur{
  /* Firefox */
  -moz-transition: opacity 0.5s linear, position 0.5s linear;
  /* WebKit */
  -webkit-transition: opacity 0.5s linear, position 0.5s linear;
  /* Opera */
  -o-transition: opacity 0.5s linear, position 0.5s linear;
  /* Standard */
  transition: opacity 0.5s linear, position 0.5s linear;
}

#aanmelden-passagier{
  display: none;
}

#aanmelden-chauffeur{
  display: block;
}

.error-message {
	padding: 7px 10px;
	background: #fff1f2;
	border: #ffd5da 1px solid;
	color: #d6001c;
	border-radius: 4px;
}
.success-message {
	padding: 7px 10px;
	background: #cae0c4;
	border: #c3d0b5 1px solid;
	color: #027506;
	border-radius: 4px;
}
.demo-table {
	background: #d9eeff;
	width: 100%;
	border-spacing: initial;
	margin: 2px 0px;
	word-break: break-word;
	table-layout: auto;
	line-height: 1.8em;
	color: #333;
	border-radius: 4px;
	padding: 20px 40px;
}
.demo-table td {
	padding: 15px 0px;
}

.inputBox {
	padding: 10px 30px;
	border: #a9a9a9 1px solid;
	border-radius: 4px;
  margin: 10px 0 10px 0;
}
.btnRegister {
	padding: 10px 30px;
	background-color: #3367b2;
	border: 0;
	color: #FFF;
	cursor: pointer;
	border-radius: 4px;
	margin-left: 10px;
  margin-top: 10px;
}
