html, body{
  height: 100%;
  margin: 0;
  padding: 0;
}

nav{
  z-index: 2;
}

.contact{
  padding-bottom: 10px;
  padding-right: 5px;
}

.footer_page{
  background: #cccccc;
  width: 100%;
  height: 7%;
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  color: #404040;
  text-align: center;
  border-radius: 10px 10px 0 0;
}

.footer_text{
  padding-top: 10px;
}

#map{
  height: 50%;
  z-index: 0;
  top: -350px;
}

.row{
  z-index: 1;
  position: relative;
}

.aanmelden{
  background: #f2f2f2;
  padding: 10px;
  box-shadow: 5px 5px 2.5px #888888;
}

#chauffeur-icon, #passagier-icon{
  /* Firefox */
  -moz-transition: all 0.25s ease;
  /* WebKit */
  -webkit-transition: all 0.25s ease;
  /* Opera */
  -o-transition: all 0.25s ease;
  /* Standard */
  transition: all 0.25s ease;
}

.onderbreking-text{
  float: left;
}

.onderbreking{
  height: 1px;
  background: #cccccc;
  width: 32%;
  margin: 0 2% 0 2%;
  display: block;
  float: left;
  margin-top: 10px;
}

.midden{
  margin: 0 auto;
}

.noselect{
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome and Opera */
}

.title-aanmelden{
  padding: 5px 0 5px 5px;
  margin: 1px;
  float: left;
}

.title-aanmelden:hover{
  margin: 0;
  cursor: pointer;
  border: #c3d0b5 1px solid;
  background: rgba(0,0,0,0.2);
  padding: 5px 0 5px 5px;
	border-radius: 4px;
}

#aanmelden-passagier, #aanmelden-chauffeur{
  /* Firefox */
  -moz-transition: opacity 0.5s linear, position 0.5s linear;
  /* WebKit */
  -webkit-transition: opacity 0.5s linear, position 0.5s linear;
  /* Opera */
  -o-transition: opacity 0.5s linear, position 0.5s linear;
  /* Standard */
  transition: opacity 0.5s linear, position 0.5s linear;
}

#aanmelden-passagier{
  display: none;
}

#aanmelden-chauffeur{
  display: block;
}

.error-message {
	padding: 7px 10px;
	background: #fff1f2;
	border: #ffd5da 1px solid;
	color: #d6001c;
	border-radius: 4px;
}
.success-message {
	padding: 7px 10px;
	background: #cae0c4;
	border: #c3d0b5 1px solid;
	color: #027506;
	border-radius: 4px;
}
.demo-table {
	background: #d9eeff;
	width: 100%;
	border-spacing: initial;
	margin: 2px 0px;
	word-break: break-word;
	table-layout: auto;
	line-height: 1.8em;
	color: #333;
	border-radius: 4px;
	padding: 20px 40px;
}
.demo-table td {
	padding: 15px 0px;
}

.inputBox {
	padding: 10px 30px;
	border: #a9a9a9 1px solid;
	border-radius: 4px;
  margin: 10px 0 10px 0;
}
.btnRegister {
	padding: 10px 30px;
	background-color: #3367b2;
	border: 0;
	color: #FFF;
	cursor: pointer;
	border-radius: 4px;
	margin-left: 10px;
  margin-top: 10px;
}
